---
import Layout from '../../layouts/Layout.astro';
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';

export async function getStaticPaths( {paginate} ) {  
  const posts = await getCollection('posts');
  const sortedPosts = posts
  .sort(
    (a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
  );
  return paginate(sortedPosts, { pageSize: 4 });
}

const { page } = Astro.props;
console.log(page.data);
---
<Layout title="Blog">
		{page.data.map((post) => 
        <article class="bg-white p-6 flex">
          <div class="flex-1">
            <h2 class="text-2xl font-bold mb-4"><a href={`${post.data.permalink}`}>{post.data.title}</a></h2>
            <p class="mb-4">Excerpt...</p>
            <a href={`${post.data.permalink}`} class="text-blue-500 hover:underline">Continue reading</a>
          </div>
          <div class="ml-6">
            <Image src={`${post.data.thumbnailImage}`}
                   alt={`${post.data.coverCaption}`}
                   class="rounded-lg shadow-md"
                   width="150"
                   height="150" />
          </div>
        </article>
		)}
<div class="flex justify-between items-center p-6">
  <div class="space-x-2">
    {page.url.first ? <a href={page.url.first} class="text-blue-500 hover:underline">First</a> : null}
    {page.url.prev ? <a href={page.url.prev} class="text-blue-500 hover:underline">Previous</a> : null}
    {page.url.next ? <a href={page.url.next} class="text-blue-500 hover:underline">Next</a> : null}
    {page.url.last ? <a href={page.url.last} class="text-blue-500 hover:underline">Last</a> : null}
  </div>
  <div class="text-gray-600">
    Page {page.currentPage} of {Math.ceil(page.total / 4)}
  </div>
</div>
</Layout>