---
import PostListItem from "./PostListItem.astro";

interface Props {
  title: string;
  icon: string;
  href: string;
  items: Array<{
    data: {
      title: string;
      date: Date;
      permalink: string;
      tags?: string[];
    };
  }>;
  linkPrefix?: string;
}

const { title, icon, href, items, linkPrefix = "" } = Astro.props;
---

<div>
  <h1 class="text-3xl mb-8">
    <a href={href} class="font-bold no-underline dark:text-white">{icon} {title}</a>
  </h1>
  <div>
    <ul class="ml-12 space-y-2 list-disc">
      {
        items.map((item) => (
          <PostListItem
            title={item.data.title}
            date={item.data.date}
            href={`${linkPrefix}${item.data.permalink}`}
            tags={item.data.tags}
          />
        ))
      }
    </ul>
  </div>
</div>